h3 {
    font-family: Helvetica;

}

h5 {
    font-family: Helvetica;

}

nav a {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} 

nav a:hover {
    opacity: 1; 
} 

a {
    color: #000000;
    font-family: Helvetica;
    text-align: center;
    font-size: 30px; 

}

a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

a:active {
    text-decoration: underline;

}

.gridcontain {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    gap: 10px;
    padding: 10px; 

}

.gridcontain > div {
    text-align: left;
    font-family: Helvetica;
    font-size: 15px;
    padding: 10px; 

}

.standard-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    grid-column: 3 /5;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    grid-column: 3 /5;
    
}

img.fade-in {
    opacity: 1;    
}
