
#user-input {
    background-image:
    url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#cafe_table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
}

#cafe_table th, #cafe_table td {
    text-align: left;
    padding: 12px;
}

#cafe_table tr {
    border-bottom: 1px solid #ddd;
    font-family: Helvetica;
}

#cafe_table tr.header, #cafe_table tr:hover {
    background-color: #f1f1f1;
    font-family: Helvetica;
}